/* 
    Creado el : 17/08/2017, 12:12:31 PM
    Autor     : Ing. Maai Nolasco Sánchez
*/

/* =========================================================================== */
/* *************** P A R A   T O D O   E L   F O R M U L A R I O ************* */
/* =========================================================================== */
#mwfmRevisaGpo .mwfPanelForm                                                    /*Para que la ventana se autoajuste a lo alto*/
{
    height: auto !important;
    /*overflow: hidden;*/
    padding: 7px;
}



/* =========================================================================== */
/* ******************** P A R A   C A D A   E L E M E N T O ****************** */
/* =========================================================================== */
/* ------------------------- CONFIGURACIÓN DE PÁNELES ------------------------ */
#mwfmRevisaGpo #pnlListadoDeAlumnos
{
    margin-bottom: 0px;
}

/* ------------------------- CONFIGURACIÓN DE BOTONES ------------------------ */


/* ------------------------ CONFIGURACIÓN DE COMBOBOX ------------------------ */


/* ------------------------- CONFIGURACIÓN DE LABELS ------------------------- */
#mwfmRevisaGpo #lblInstrucciones
{
    display: block;
    font-size: 0.8em;
    margin-bottom: 7px;
}

/* ------------------------- CONFIGURACIÓN DE TABLAS ------------------------- */
#mwfmRevisaGpo #scrlAlumnos
{
    height: 200px;
}

/* ------------------------ CONFIGURACIÓN DE TEXTBOX ------------------------- */




/* =========================================================================== */
/* *** P A R A   I N I C I A L I Z A C I Ó N   D E L   R E S P O N S I V E *** */
/* =========================================================================== */




/* =========================================================================== */
/* ************************* M E D I A   Q U E R Y S ************************* */
/* =========================================================================== */
