/* 
    Creado el : 10/07/2015, 07:13:23 PM
    Autor     : Ing. Maai Nolasco Sánchez
*/

/* =========================================================================== */
/* *************** P A R A   T O D O   E L   F O R M U L A R I O ************* */
/* =========================================================================== */
#pnlConfiguraciones
{
    height: 100%;
}


/* =========================================================================== */
/* ******************** P A R A   C A D A   E L E M E N T O ****************** */
/* =========================================================================== */
/* ------------------------- CONFIGURACIÓN DE PÁNELES ------------------------ */
#pnlConfiguraciones #pnlEstatusMantenimiento
{
    margin-top: 5px;
}
#pnlConfiguraciones #pnlEstatusMantenimiento #pnlTblSesiones
{
    border: 1px solid #a9a9a9;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 7px;
}

/* ------------------------- CONFIGURACIÓN DE BOTONES ------------------------ */
#pnlEstatusMantenimiento .colorActivarMantenimiento
{
    background: #c95c5a ;
    color: white;
}
#pnlEstatusMantenimiento .colorDesactivarMantenimiento
{
    background: #83b584 ;
    color: white;
}
#pnlEstatusMantenimiento .colorActivarMantenimiento:hover, 
#pnlEstatusMantenimiento .colorDesactivarMantenimiento:hover
{
    color: black;
}

#pnlEstatusMantenimiento #btnActualizarLista
{
    width: 110px
}

#pnlEstatusMantenimiento #btnActivDesactivMantenimiento
{
    width: 160px
}

#pnlEstatusMantenimiento #btnCerrarSesiones
{
    background: #efb868;
    width: 105px
}

#pnlEstatusMantenimiento #btnPermisos
{
    width: 80px
}

#pnlEstatusMantenimiento #btnAvisos
{
    width: 60px
}

#pnlEstatusMantenimiento #btnPingWebService
{
    width: 120px
}


/* ------------------------ CONFIGURACIÓN DE COMBOBOX ------------------------ */


/* ------------------------- CONFIGURACIÓN DE LABELS ------------------------- */
#pnlEstatusMantenimiento #lblEtiqNumUsuarios
{
    font-size: 0.9em;
}

/* ------------------------- CONFIGURACIÓN DE TABLAS ------------------------- */
#pnlConfiguraciones #tblSesiones tr
{
    white-space: pre;                                                           /*Para que no haga wordrap*/
}

/* ------------------------ CONFIGURACIÓN DE TEXTBOX ------------------------- */




/* =========================================================================== */
/* *** P A R A   I N I C I A L I Z A C I Ó N   D E L   R E S P O N S I V E *** */
/* =========================================================================== */

/* =========================================================================== */
/* ************************* M E D I A   Q U E R Y S ************************* */
/* =========================================================================== */
@media screen and (max-width: 390px){
    #pnlConfiguraciones ul li, #pnlConfiguraciones ul li a
    {
        display: block;
        margin: 0 auto;                                                         /*Para centrar los botones*/
    }
    #pnlConfiguraciones #btnActivDesactivMantenimiento
    {
        margin-top: 5px;
    }
}