/* 
    Creado el : 29/08/2017, 12:22:33 PM
    Autor     : Ing. Maai Nolasco Sánchez
*/

/* =========================================================================== */
/* *************** P A R A   T O D O   E L   F O R M U L A R I O ************* */
/* =========================================================================== */




/* =========================================================================== */
/* ******************** P A R A   C A D A   E L E M E N T O ****************** */
/* =========================================================================== */
/* ------------------------- CONFIGURACIÓN DE PÁNELES ------------------------ */
#pnlGestionarAvisos
{
    margin-top: 8px;
}

/* ------------------------- CONFIGURACIÓN DE BOTONES ------------------------ */
#pnlGestionarAvisos .buttonBar a
{
    margin-right: 5px;
}

/* ------------------------ CONFIGURACIÓN DE COMBOBOX ------------------------ */


/* ------------------------- CONFIGURACIÓN DE LABELS ------------------------- */


/* ------------------------- CONFIGURACIÓN DE TABLAS ------------------------- */
#pnlGestionarAvisos #scrlAvisos
{
    border: 1px solid black;
    height: 200px;
    margin-bottom: 10px;
}

/* ------------------------ CONFIGURACIÓN DE TEXTBOX ------------------------- */
#pnlGestionarAvisos #txtaMensaje
{
    height: 50px;
    margin-right: 5px;
    width: 99%;
}



/* =========================================================================== */
/* *** P A R A   I N I C I A L I Z A C I Ó N   D E L   R E S P O N S I V E *** */
/* =========================================================================== */




/* =========================================================================== */
/* ************************* M E D I A   Q U E R Y S ************************* */
/* =========================================================================== */
