/* 
    Creado el : 18/10/2017, 12:16:29 PM
    Autor     : Ing. Maai Nolasco Sánchez
*/

/* =========================================================================== */
/* *************** P A R A   T O D O   E L   F O R M U L A R I O ************* */
/* =========================================================================== */
#mwffSelComplExalum, #mwffSelConsExalum
{
    margin-left: -25%;
    width: 50%;
}
#mwfpSelComplExalum #pnlSelComplExalum,
#mwfpSelConsExalum #pnlSelConsExalum
{
    margin-left: 10px;
    margin-right: 10px;
}

/* =========================================================================== */
/* ******************** P A R A   C A D A   E L E M E N T O ****************** */
/* =========================================================================== */
/* ------------------------- CONFIGURACIÓN DE PÁNELES ------------------------ */


/* ------------------------- CONFIGURACIÓN DE BOTONES ------------------------ */
#mwfpSelComplExalum #pnlSelComplExalum .buttonBar li,
#mwfpSelConsExalum #pnlSelConsExalum .buttonBar li
{
    margin-bottom: 5px;
    margin-right: 7px;
}

#mwfpSelComplExalum #pnlSelComplExalum #btnImpMesComplExalum,
#mwfpSelConsExalum #pnlSelConsExalum #btnImpMesConsExalum
{
    width: 100px;
}

#mwfpSelComplExalum #pnlSelComplExalum #btnCancelarMesComplExalum,
#mwfpSelConsExalum #pnlSelConsExalum #btnCancelarMesConsExalum
{
    width: 100px;
}

/* ------------------------ CONFIGURACIÓN DE COMBOBOX ------------------------ */


/* ------------------------- CONFIGURACIÓN DE LABELS ------------------------- */
#mwfpSelComplExalum #pnlSelComplExalum #lblInstrucciones,
#mwfpSelConsExalum #pnlSelConsExalum #lblInstrucciones
{
    display: block;
    margin: 5px;
}

#mwfpSelComplExalum #pnlSelComplExalum #lblSelEspAlus,
#mwfpSelConsExalum #pnlSelConsExalum #lblSelEspAlus
{
    display: block;
    margin-bottom: 12px;
}

/* ------------------------- CONFIGURACIÓN DE TABLAS ------------------------- */
#mwfpSelComplExalum #pnlSelComplExalum #scrlAlumnos,
#mwfpSelConsExalum #pnlSelConsExalum #scrlAlumnos
{
    border: 1px solid black;
    height: 200px;
}

.resaltar {
    color: #B0281A;
}
/* ------------------------ CONFIGURACIÓN DE TEXTBOX ------------------------- */




/* =========================================================================== */
/* *** P A R A   I N I C I A L I Z A C I Ó N   D E L   R E S P O N S I V E *** */
/* =========================================================================== */




/* =========================================================================== */
/* ************************* M E D I A   Q U E R Y S ************************* */
/* =========================================================================== */

@media screen and (max-width: 700px)
{
    #mwffSelComplExalum,                                                            /*Reajustamos la ventana, Como ya definimos un ancho más arriba, ya no agarra el automático de Estilos Generales*/
    #mwffSelConsExalum
    {
        margin-left: -45%;
        width: 90%;
    }
}