/* 
    Creado el : 31-oct-2016, 15:03:27
    Autor     : Ing. Maai Nolasco Sánchez
*/
body {
  /*background-color: #f7f7f7;*/
  color: #646464;
  font: 20px Helvetica;
}

#frmPrincipal {
  margin: 30px auto 0;
  max-width: 600px;
  width: 100%;
}

.icon-procesos {
  font-size: 15em;
  padding-left: 20%;
}