/* 
    Creado el : 3/08/2017, 05:39:35 PM
    Autor     : Ing. Maai Nolasco Sánchez
*/

/* =========================================================================== */
/* *************** P A R A   T O D O   E L   F O R M U L A R I O ************* */
/* =========================================================================== */




/* =========================================================================== */
/* ******************** P A R A   C A D A   E L E M E N T O ****************** */
/* =========================================================================== */
/* ------------------------- CONFIGURACIÓN DE PÁNELES ------------------------ */
#pnlComplementaria #pnlDatosGenerales {
    background-color: #804000;
    color: white;
    font-size: 0.9em;
    height: 18px;
    margin: 7px 7px 15px 7px;
}

#pnlComplementaria #pnlListadoDeAlumnos
{
    margin-left: 7px;
    margin-right: 7px;
}

/* ------------------------- CONFIGURACIÓN DE BOTONES ------------------------ */


/* ------------------------ CONFIGURACIÓN DE COMBOBOX ------------------------ */


/* ------------------------- CONFIGURACIÓN DE LABELS ------------------------- */
#pnlComplementaria #pnlDatosGenerales label
{
    font-weight:bold;
}
#pnlComplementaria #lblTblPrincipal_cct
{
    margin-right: 2em;
}
#pnlComplementaria #lblTblPrincipal_grado
{
    margin-right: 1em;
}
#pnlComplementaria #lblTblPrincipal_grupo
{
    margin-right: 3em;
}

/* ------------------------- CONFIGURACIÓN DE TABLAS ------------------------- */
#pnlComplementaria #scrlAlumnos
{
    height: 280px;
}

/* ------------------------ CONFIGURACIÓN DE TEXTBOX ------------------------- */




/* =========================================================================== */
/* *** P A R A   I N I C I A L I Z A C I Ó N   D E L   R E S P O N S I V E *** */
/* =========================================================================== */




/* =========================================================================== */
/* ************************* M E D I A   Q U E R Y S ************************* */
/* =========================================================================== */
